body{
    background-color: aqua;
}

.container {
    margin: auto;
    text-align: center;
    width: 50%;
    height: 140px;
    border: solid 1px aqua;
    border-radius: 10px;
    background-color: white;
}